@import (inline) 'react-image-gallery/styles/css/image-gallery.css';

.image-gallery {
  height: 100%;

  .image-gallery-content {
    height: 100%;

    .image-gallery-slide-wrapper {
      height: 100%;
      align-content: center;
    }

    .image-gallery-thumbnails-wrapper {
      .image-gallery-thumbnails {
        .active {
          border-color: @foreground-2;
        }
      }
    }
  }
}
