@import (inline) 'react-image-gallery/styles/css/image-gallery.css';

.image-gallery {
  height: 100%;

  .image-gallery-content {
    height: 100%;

    &.fullscreen {
      background-color: @background-2;
    }

    &.image-gallery-thumbnails-left {
      display: flex;
      flex-direction: row;
    }

    .image-gallery-slide-wrapper {
      height: 100%;
      align-content: center;

      &.image-gallery-thumbnails-left {
        width: 100%;
      }
    }

    .image-gallery-thumbnails-wrapper {
      .image-gallery-thumbnails {
        position: inherit;
        .active {
          border-color: @foreground-2;
        }
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.view-modal {
  .control-back-wrapper {
    position: absolute;

    color: @text-color-3;

    width: 100%;
    z-index: 4;
    top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    opacity: 0;

    transition: all 0.3s ease-out;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    // &:hover {
    //   opacity: 1;
    // }

    .control-back {
      padding: 16px;
    }
  }

  .control-index {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
    padding: 20px;
    color: @text-color-3;
  }

  .control-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: @text-color-3;

    opacity: 0;

    transition: all 0.3s ease-out;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    .control-play {
      padding: 18px;
    }

    .control-stop {
      padding: 18px;
    }

    .control-group {
      display: flex;
      column-gap: 8px;

      .control-fullscreen {
        padding: 20px;
      }

      .control-collect {
        padding: 20px;
      }

      .control-collected {
        padding: 20px;
      }

      .control-add-column {
        padding: 20px;
      }

      .control-remove-column {
        padding: 20px;
      }

      .control-time {
        padding: 20px;
      }

      .control-setting {
        padding: 20px;
      }
    }
  }
}

.control-ts-wrapper {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .control-ts {
    min-width: 20px;
    width: 20px;
    margin: 10px 8px;

    .bp5-slider-track {
      left: 8px;
      width: 4px;
    }

    .bp5-slider-handle {
      left: 4px;
      border-radius: 6px;
      outline: none;
      width: 12px;
      height: 12px;
    }
  }
}

.image-gallery-right-nav {
  outline: none !important;
}

.image-gallery-left-nav {
  outline: none !important;
}

.image-gallery-icon {
  color: @text-color-3;
}
